.rzhd-btn {
  /* Rectangle 223: */
  background: #FFDD2D;
  border-radius: 4px;
  border: 0;
  
  display: block;
  height: 44px;
  padding: 0 10px;
  width: 100%;
  
  &__inner {
    /* ИСКАТЬ: */
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #333333;
    letter-spacing: 0.89px;
    line-height: 30px;
  }
}