@import "./../assets/mixins";

.rzhd-form-calendar {
  position: relative;
  &__label {
    
    .rzhd-control__label__placeholder__icon {
      position: absolute;
      right: 22px;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 0;
      background: transparent url('@{imagesPath}cal-drop.svg') 0 0 no-repeat;
      height: 8px;
      width: 12px;
      background-size: 12px 8px;
      
      .transition(background .2s ease);
    }
    
    .rzhd-input {
      cursor: pointer;
    }
    
    &:hover {
      .rzhd-control__label__placeholder__icon {
        background-image: url('@{imagesPath}cal-drop-yellow.svg');
      }
    }
    
  }
  
  &__helper {
    
    position: absolute;
    right: 0;
    
    top: 44px + 6px;
    
    width: 100%;
    box-sizing: border-box  !important;
    
    @media (min-width: 450px) {
      width: 359px;
    }
    
    .left & {
      right: auto;
      left: 0;
    }
    
    &.hide {
      display: none;
    }
  }
}


.keyframes(show_pikaday, { 0% {
  opacity: 0;
  .scale(1, .5);
  .translate(0, -20px);
} 100% {
    opacity: 1;
    .scale(1, 1);
    .translate(0, 0);
  } });

.rzhd-pikaday {
  /* Rectangle 8: */
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  border: 1px solid #979797;
  padding: 7px 10px;
  
  
  .transform-origin(center, top);
  .animation-name(show_helper);
  .animation-duration(.3s);
  .animation-fill-mode(both);
  .animation-timing-function(ease);
  
}

@import "pikaday";