.block-rzhd-search__footer {
  
  position: absolute;
  bottom: 15px;
  right: 0;
  
  font-family: Roboto, Roboto-Regular, sans-serif;
  font-size: 11px;
  line-height: 1em;
  color: #FFFFFF;
  letter-spacing: 0.17px;
  font-weight: 300;
  
  span {
    display: inline-block;
    vertical-align: middle;
    height: 11px;
    
    & + span {
      margin-left: 5px;
    }
  }
  
  &__image {
    display: inline-block;
    width: 70px;
    height: 11px;
    background: transparent url('@{imagesPath}ott.png') center no-repeat;
    background-size: 70px 11px;
  }
}