@import "./../assets/mixins";

.rzhd-form{
  font-size: 0;
  margin: 0 -7px;
  .clearfix();
  
  &__cell{
    padding: 0 7px;
  
    margin-bottom: 12px;
    float: left;
    display: inline-block;
    height: 44px;
  }
}