@import "./../assets/mixins";

.rzhd-helper-container {
  z-index: 1000;
}

.keyframes(show_helper, { 0% {
  opacity: 0;
  .scale(1, .5);
  .translate(0, -20px);
} 100% {
    opacity: 1;
    .scale(1, 1);
    .translate(0, 0);
  } });

.rzhd-helper {
  /* Rectangle 7: */
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 4px;
  
  overflow: hidden;
  
  .transform-origin(center, top);
  .animation-name(show_helper);
  .animation-duration(.3s);
  .animation-fill-mode(both);
  .animation-timing-function(ease);
  
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    &__item {
      margin: 0;
      padding: 0;
      display: block;
      
    }
  }
}

.rzhd-helper__link {
  text-decoration: none;
  display: block;
  height: 33px;
  padding: 9px 10px;
  box-sizing: border-box  !important;
  span {
    /* Мослё, Казань: */
    font-family: Roboto, Roboto-Regular, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #121212;
    letter-spacing: 0.17px;
    
    &.city {
      
    }
    
    &.country {
      color: #6D6D6D;
    }
  }
  
  &:hover, &.focus, &:focus {
    /* Rectangle 3: */
    outline: none;
    background: #ECECEC;
  }
}