@import "./../assets/mixins";

.rzhd-control {
  &__label {
    position: relative;
    &__placeholder {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      
      background: #FFFFFF;
      border-radius: 4px;
      height: 44px;
      box-sizing: border-box  !important;
      padding: (44px - 20px)/2 14px;
      border: 0;
      
      color: gray;
      
      display: block;
      z-index: 0;
      
      //.vertical-middle(44px);
      
      &__inner {
        /* Куда: */
        opacity: 0.8;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: #9299A2;
        letter-spacing: 0.21px;
        line-height: 20px;
        
        .back{
          opacity: .7;
        }
        
        .hidden {
          color: white;
          font-weight: 400;
        }
      }
    }
  }
}

.rzhd-form-station {
  position: relative;
  
  &__helper {
    position: absolute;
    left: 0;
    top: 44px + 6px;
    
    width: 100%;
  }
}

.rzhd-input {
  text-align: left;
  position: relative;
  z-index: 1;
  /* Rectangle 7: */
  background: transparent;
  border-radius: 4px;
  height: 44px;
  box-sizing: border-box !important;
  padding: (44px - 20px)/2 14px;
  border: 0;
  
  display: block;
  width: 100%;
  
  /* М: */
  //opacity: 0.8;
  font-family: Roboto, Roboto-Regular, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0.21px;
  line-height: 20px;
  
  &:focus {
    /* Rectangle 7: */
    box-shadow: inset 0 0 0 2px #FFDD2D;
    outline: none;
  }
  
  .error &{
    box-shadow: inset 0 0 0 2px #e74c3c;
    outline: none;
  }
}