@import "./../assets/mixins";

.rzhd-wrapper {
  position: relative;
  .transition(height .3s ease);
}
 
.keyframes(form_show, { 0% {
  opacity: 0;
  .translate(0, -20px);
} 100% {
    opacity: 1;
    .translate(0, 0);
  } });

.keyframes(form_hide, { 0% {
  opacity: 1;
  //.scale(1, 1);
  .translate(0, 0);
} 100% {
    opacity: 0;
    //.scale(1, .7);
    .translate(0, -20px);
  } });

.keyframes(screen_show, { 0% {
  opacity: 0;
  //.scale(1, 1.2);
  .translate(0, 20px);
} 100% {
    opacity: 1;
    //.scale(1, 1);
    .translate(0, 0);
  } });

.keyframes(screen_hide, { 0% {
  opacity: 1;
  //.scale(1, 1);
  .translate(0, 0);
} 100% {
    opacity: 0;
    //.scale(1, 1.2);
    .translate(0, 20px);
  } });

.preset-shake-rotate();

.block-rzhd-search {
  background: #697091 url('@{imagesPathNoBase64}back.png') center no-repeat;
  background-size: cover;
  &__screen {
    padding-top: 56px;
    padding-bottom: 59px;
    &__title {
      margin-bottom: 9px;
      &__inner {
        /* Поезда: */
        opacity: 0.8;
        font-family: Roboto, Roboto-Regular, sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #F5F5F5;
        letter-spacing: 0.2px;
        line-height: 20px;
      }
    }
    
    &__line {
      /* Москва — Саратов, 26: */
      font-family: Roboto, Roboto-Light, sans-serif;
      font-weight: 300;
      color: #FFFFFF;
      letter-spacing: 0px;
      font-size: 28px;
      line-height: 32px;
  
      cursor: pointer;
      
      @media (min-width: 375px) {
        font-size: 36px;
        line-height: 40px;
      }
      
      span {
        vertical-align: middle;
      }
      .rzhd-edit-icon {
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        width: 24px;
        margin-top: 3px;
        margin-left: 10px;
        background: transparent url('@{imagesPath}edit-white.svg') center no-repeat;
        background-size: 18px 18px;
        
        border: 0;
        
        cursor: pointer;
        .transition(background .2s ease);
        
      }
      
      &:hover {
        color: #FFDD2D;
        .rzhd-edit-icon {
          .preset-shake-rotate__property();
          background-image: url('@{imagesPath}edit-yellow.svg');
        }
      }
    }
  }
  &__form {
    padding-top: 27px;
    padding-bottom: 30px;
    &__title {
      &__inner {
        /* Поиск ж/д билетов: */
        font-family: Roboto, Roboto-Regular, sans-serif;
        font-weight: 400;
        font-size: 27px;
        color: #FFFFFF;
        letter-spacing: 0.38px;
      }
    }
  }
  
  &__screen, &__form {
    position: relative;
    z-index: 1;
    
    .transform-origin(center, top);
    .animation-duration(.3s);
    .animation-fill-mode(both);
    .animation-timing-function(ease);
    
    &.rzhd-hide {
      display: none;
      z-index: 0;
      
      opacity: 0;
      
      &.rzhd-fade {
        display: block;
        position: absolute;
        
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }
  &__form {
    .animation-name(form_show);
  
  
    .block-rzhd-search__form__title {
      
    }
    
    &.rzhd-hide {
      &.rzhd-fade {
        .animation-name(form_hide);
        .animation-duration(.2s);
      }
    }
  
  
  }
  
  &__screen {
    .animation-name(screen_show);
    
    &.rzhd-hide {
      
      &.rzhd-fade {
        .animation-name(screen_hide);
      }
    }
  }
}

.container {
  margin: 0 20px;
  
  @media (min-width: 375px) {
    margin: 0 auto;
    width: 320px;
  }
  
  @media (min-width: 450px) {
    width: 400px;
  }

  @media (min-width: 768px) {
    width: 700px;
  }
  
  @media (min-width: 960px) {
    width: 918px;
  }
}