@charset "UTF-8";



/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  //border: 1px solid #ccc;
  //border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
  content: " ";
  display: table;
}

.pika-single:after {
  clear: both
}

.pika-single {
  *zoom: 1
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
}

.pika-lendar {
  float: left;
  width: 100%;
  //margin: 8px;
}

.pika-title {
  position: relative;
  text-align: center;
  
  /* Rectangle 1166 Copy 33: */
  border: 1px solid #DDDFE0;
  
  margin: 0 60px 15px;
  
  height: 40px;
  box-sizing: border-box  !important;
}

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 8px 3px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff;
  
  /* Ноябрь 2015 Copy: */
  //font-family: .AppleSystemUIFont;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #74A3C7;
  line-height: 29px;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  //opacity: .5;
  *position: absolute;
  *top: 0;
}

.pika-prev,
.pika-next {
  position: absolute;
  top: -1px;
  left: 0;
  width: 60px;
  color: white;
  font-size: 0;
  //background: transparent url(./../img/cal-prev.svg) center no-repeat;
  
  /* Rectangle 1166 Copy 32: */
  border: 1px solid #DDDFE0;
  height: 40px;
  box-sizing: border-box !important;
  
  background-size: 8px 18px;
}

.pika-prev {
  left: -60px;
  border-radius: 5px 0 0 5px;
}

.pika-next {
  left: auto;
  right: -60px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  //background: transparent url(./../img/cal-next.svg) center no-repeat;
}

.pika-prev:not(.is-disabled):hover,
.pika-next:not(.is-disabled):hover {
  opacity: 1;
  background-color: fade(#DDDFE0, 30%);
}

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url('@{imagesPath}cal-prev.svg');
  *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url('@{imagesPath}cal-next.svg');
  *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0;
}

.pika-table th {
  //color: #999;
  //font-size: 12px;
  //line-height: 25px;
  //font-weight: bold;
  //text-align: center;
  
  /* ВТ Copy 5: */
  //font-family: .AppleSystemUIFont;
  font-weight: 300;
  font-size: 13px;
  color: #777777;
  letter-spacing: 1.1px;
  text-align: center;
  padding-bottom: 5px;
}

.pika-button {
  cursor: pointer;
  display: block;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  //color: #666;
  //font-size: 12px;
  //line-height: 15px;
  //text-align: right;
  //background: #f5f5f5;
  background: white;
  /* 31 7 14 21 28: */
  font-family: ".SFNSText", sans-serif;
  font-size: 13px;
  color: #9299A2;
  line-height: 20px;
  text-align: center;
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-today .pika-button {
  color: darken(#FFDD2D, 10%);
  font-weight: bold;
}

.is-selected .pika-button {
  font-weight: bold;
  //background: #33aaff;
  //box-shadow: inset 0 1px 3px #178fe5;
  //border-radius: 3px;
  
  /* Rectangle 7 Copy 28: */
  background: #FFDD2D;
  border-radius: 6px;
  
  color: #333333;
}

.is-inrange .pika-button {
  background: #D5E9F7;
}

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  box-shadow: none;
  border-radius: 3px;
}

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: none;
  border-radius: 3px;
}

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3;
}

.pika-button:hover {
  color: #333333;
  background: #FFDD2D;
  box-shadow: none;
  border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
  border-bottom: none;
  cursor: help;
}
