doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Title
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic", rel="stylesheet")
    //link(rel="stylesheet", href=config.path.css + "rhzd-search.css")
    link(rel="stylesheet", href=config.path.css + "wlStyles.css")
  body
    .wl_railways_container
      .block-rzhd-search
        #rzhd_form.container
        //-#rzhd_form_2.container

    .container
      button(data-url=config.path.main).test-button URL : Default
      button(data-url=config.path.main + 'ru/moskva_tula/?date=23112016&s').test-button URL : Найти 1
      button(data-url=config.path.main + 'moskva_sankt-peterburg/ru/?date=16122016&s').test-button URL : Найти 2
      button(data-url=config.path.main + 'moskva_sankt-peterburg/?date=16122017&s').test-button URL : Найти 2 2017
      button(data-url=config.path.main + 'train?fromName=Москва&toName=Тула&train=081М&from=2000001&to=2000174&classes%5B0%5D=3&classes%5B1%5D=4&classes%5B2%5D=6&minCost=640.9&metaTo=22883&metaFrom=22823&date=17122016&currency=RUB').test-button URL : Выбрать 1
      button(data-url=config.path.main + 'train?fromName=Москва&toName=Санкт-Петербург&train=049Ч&from=2000001&to=2004000&classes%5B0%5D=3&classes%5B1%5D=4&minCost=1011.7&metaTo=22871&metaFrom=22823&date=17122016&currency=RUB').test-button URL : Выбрать 2
    //script(src=config.path.js + "assets/libs.js")
    script(src=config.path.js + "assets/pikaday.js")
    script(src=config.path.js + "assets/react.js")
    script(src=config.path.js + "assets/react-dom.js")
    //script(src=config.path.js + "rhzd-search.js")
    script(src=config.path.js + "rhzd-search.js")

    script.
      Array.prototype.slice.call(document.querySelectorAll('button.test-button')).forEach(function (button, index) {
        button.addEventListener('click', function (event) {
          var myEvent = new CustomEvent("wlRouterDidChange", {detail : {url : this.getAttribute('data-url')}});
          if(history && history.pushState){
            history.pushState({}, '', this.getAttribute('data-url'));
          }
          window.dispatchEvent(myEvent);
        });
      });


