html, body {
  margin: 0;
  padding: 0;
}

html * {
  -webkit-box-sizing: initial !important;
  box-sizing: initial !important;
}

@import "./blocks/main";
@import "./blocks/form";
@import "./blocks/input";
@import "./blocks/helper";
@import "./blocks/calendar";
@import "./blocks/btn";
@import "./blocks/footer";

.container {
  margin: 0 20px;
  
  @media (min-width: 375px) {
    margin: 0 auto;
    width: 320px;
  }
  
  @media (min-width: 484px) {
    margin: 0 20px;
    width: auto;
  }
  
  @media (min-width: 450px) {
    margin: 0 20px;
    width: auto;
  }
  
  @media (min-width: 768px) {
    margin: 0 20px;
    width: auto;
  }
  @media (min-width: 960px) {
    width: 918px;
    margin: 0 auto;
  }
}

.rzhd-control__label__placeholder{
  overflow: hidden;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 14px;
  
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  
  }
}
